<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>おノマとペーパー</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
</head>

<style type="text/css">
    #drag-drop-area {
        background: #eeeeee;
        width: 700px;
        padding: 10px;
        text-align: center;
        border: 5px dashed #cccccc;
        margin: 30px auto;
    }
    #dropArea {
        overflow: hidden;
        padding: 40px 10px;
        background: #ddd;
        border: 3px #666 dashed;
        color: #999;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    #output img {
        display: block;
        width: 300px;
        margin: 15px auto;
    }

    .custom-file{
        margin-bottom: 1em;
    }
</style>
<body>
<!-- container -->
<div id="container">

    <!-- navvar start -->
    <header>
        <nav id="navvar" class="navbar navbar-dark bg-primary navbar-expand-lg">
            <span class="navbar-brand mb-0 h1 theme">おノマとペーパー</span>
        </nav>
    </header>
    <!-- navvar end -->

    <form action="/api/upload-image" method="post" enctype="multipart/form-data">
        <div id="drag-drop-area">
            <div id="output"></div>
            <div class="drag-drop-inside">
                <p class="drag-drop-info">ここにファイルをドロップ</p>
                <p>または</p>
                <div class="custom-file">
                    <input id="custom-file-input" name="upload" type="file" class="custom-file-input" accept="image/*" required/>
                    <label id="custom-file-label" class="custom-file-label" for="custom-file-input">Choose file...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
                <input type="submit" value="送信">
            </div>
        </div>
    </form>

    <script>
        $('#custom-file-input').change(function(){
            if (this.files.length > 0) {
                // 選択されたファイル情報を取得
                let file = this.files[0];

                // readerのresultプロパティに、データURLとしてエンコードされたファイルデータを格納
                let reader = new FileReader();
                reader.readAsDataURL(file);

                reader.onload = function() {
                    document.getElementById("output").textContent = null;
                    let img = document.createElement('img');
                    img.setAttribute('src', reader.result);
                    document.getElementById("output").appendChild(img);
                    document.getElementById("custom-file-label").innerText = file.name;
                }
            }
        });


        document.addEventListener('DOMContentLoaded', function () {
            let dropArea = document.getElementById('drag-drop-area'),
                output = document.getElementById('output'),

                // 画像の最大ファイルサイズ（20MB）
                maxSize = 20 * 1024 * 1024;

            // ドロップされたファイルの整理
            function organizeFiles(files) {
                let length = files.length,
                    i = 0, file;


                // file には Fileオブジェクト というローカルのファイル情報を含むオブジェクトが入る
                file = files[0];


                // 画像以外は無視
                if (!file || file.type.indexOf('image/') < 0) {
                    return;
                }
                // 指定したサイズを超える画像は無視
                if (file.size > maxSize) {
                    return;
                }

                document.getElementById("custom-file-label").innerText = files[0].name;
                document.getElementById("custom-file-input").files = files;
                // 画像出力処理へ進む
                outputImage(file);
            }


            // 画像の出力
            function outputImage(blob) {
                let
                    // 画像要素の生成
                    image = new Image(),

                    // File/BlobオブジェクトにアクセスできるURLを生成
                    blobURL = URL.createObjectURL(blob);

                // src にURLを入れる
                image.src = blobURL;

                // 画像読み込み完了後
                image.addEventListener('load', function () {
                    // File/BlobオブジェクトにアクセスできるURLを開放
                    URL.revokeObjectURL(blobURL);

                    // #output へ出力
                    output.textContent = null;
                    output.appendChild(image);
                });
            }

            // ドラッグ中の要素がドロップ要素に重なった時
            dropArea.addEventListener('dragover', function (ev) {
                ev.preventDefault();

                // ファイルのコピーを渡すようにする
                ev.dataTransfer.dropEffect = 'copy';

                dropArea.classList.add('dragover');
            });

            // ドラッグ中の要素がドロップ要素から外れた時
            dropArea.addEventListener('dragleave', function () {
                dropArea.classList.remove('dragover');
            });

            // ドロップ要素にドロップされた時
            dropArea.addEventListener('drop', function (ev) {
                ev.preventDefault();

                dropArea.classList.remove('dragover');
                output.textContent = '';

                // ev.dataTransfer.files に複数のファイルのリストが入っている

                organizeFiles(ev.dataTransfer.files);
            });
        });
    </script>
</div>
<!-- /container -->
</body>
</html>